[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc-version = "0.8.24"
optimizer = true
optimizer_runs = 200
evm_version = "cancun"

remappings = [
  "@openzeppelin/contracts=lib/openzeppelin-contracts/contracts",
  "forge-std/=lib/forge-std/src/"
]
